body{
font-family: 'Montserrat', sans-serif;
background-color: #ebfbfc;
}
.navbar-text{
font-size: 30px;
}
.mukta-font{
font-family: 'Mukta', sans-serif;
}
.carousel-indicators [data-bs-target]{
  background-color: gray;
}
.carousel-indicators .active {
 background-color: #57b4f7;
}
.icon{
    width: 40%;
    padding: 20px;
    padding-bottom: 0px;
}
.pro-font{
    color: black;
}
.footer-icon{
    width: 50px;
    margin: 20px;
}
.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(80%);
}
